*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: "Poppins", sans-serif;
}
body{
    background-color: #f2f2f2;
}

.hero-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px 20px;
   
    background-color: white;
}
.hero-section h2{
    font-size: 35px;
    margin-bottom: 20px;
    font-weight: 700;
    text-align: center;
}
.hero-section p{
    font-size: 18px;
     line-height:1.5;
    color:#666666;
    width: 60%;
    text-align: center;
}
@media (max-width:1023px) {
    .hero-section p{
        width: 90%;
    }
    .hero-section{
        padding: 30px 10px;
    }
    
}
.search-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 40px;
    padding:20px 40px;
    background-color: white;
    border-radius: 8px; ;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1); 
}
.search{
    display: flex;
    align-items: center;
    width: 70%;
     border: 1px solid #b3b3b3;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 16px;
    outline: none;
    
}
.search-input{
    padding: 8px 15px;
   border: none;
    border-radius: 6px;
    width: 100%;
    font-size: 16px;
    outline: none;
}
.search img{
    height: 20px;
    width: 20px;
    margin-right: 10px;
}
.search:focus-within {
    border-color: #2563EB;
    box-shadow: 0 0 5px rgba(37, 99, 235, 0.5);
}
.level-container {
    padding: 5px 10px;
    border: 1px solid #b3b3b3;
    border-radius: 6px;
    font-size: 16px;
    margin-left: 10px;
    width: 30%;
    display: flex;
    align-items: center;
    gap: 10px;

}
.level-container img{
    height: 20px;
    width: 20px;
    margin-right: 10px;
}
#level{
    width: 100%;
    padding: 8px 15px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    outline: none;
}
.level-container:focus-within {
    border-color: #2563EB;
    box-shadow: 0 0 5px rgba(37, 99, 235, 0.5);
}
@media (max-width: 1020px) and (min-width: 601px) {
    .search-container{
        flex-direction: column;
        gap: 20px;
        margin: 20px;
        padding: 10px;
    }
    .search{
        width: 100%;
    }
    .level-container{
        width: 100%;
        margin-left: 0;
    }
}
@media (max-width: 600px) {
    .search-container{
        flex-direction: column;
        gap: 20px;
        margin: 10px;
        padding: 20px;
    }
    .search{
        width: 100%;
    }
    .level-container{
        width: 100%;
        margin-left: 0;
    }
 
}
.course-cards-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
.course-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 330px;
    background-color: white;
}

.img-container{
    position: relative;
    top: 0px;
    right: 0px;
   width: 100%;
      border-radius: 15px 15px 0px 0px ;
      max-height: 230px;
     overflow: hidden;
     object-fit: contain;
        
     }
.img-container img{
    width: 100%;
    height:100%;
       border-radius: 15px 15px 0px 0px ; 
}
.img-container span{
    position:absolute;
    left: 15px;
    top: 15px;
    font-size: 13px;
    color: green;
    padding: 5px 8px;
    border-radius: 8px;
    background-color: rgb(221, 234, 221);
}
.course-info{
    display: flex;
   
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    padding: 20px 25px;
}
.course-info h2{
    font-size: 22px;
    margin-bottom: 10px;
    font-weight: 700;
}
.course-info p{
   color:#666666 ;
    line-height: 1.5;

}
.rating-con{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: start;
    gap: 15px;
    padding: 20px 0px;

}

.rating{
    display: flex;
    align-items: center;
    gap: 3px;
}
.rating span{
    font-size: 13px;
    color: #7d7979;
}
