*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: "Poppins", sans-serif;
}
body{
    background-color: #f2f2f2;
}
.nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;             
    justify-content: space-between;   
    width: 100%;
    height: 75px;
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(30px);
    z-index: 1000;
    padding: 0 20px;
    background-color: #f3f3f3;
}
.logo img {
    height: 100px;
    width: 200px;
    object-fit: contain;
    margin-left: 0px;
}
.nav-search {
    display: flex;
    align-items: center;
    background-color: pink;
    height: 36px;
    border-radius: 4px;
    border: none;
    width: 30%; 
    overflow: hidden;
}
.search-select {
    background-color: rgb(194, 188, 188);
    width: 60px;
    height: 100%;
    text-align: center;
    border: none;
    outline: none;
    font-size: 0.9rem;
}
.search-input {
    width: 100%;
    font-size: 1rem;
    border: none;
    outline: none;
    padding: 0 8px;
    background-color: pink;
}
.search-icon {
    width: 45px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    cursor: pointer;
}
.nav-search:hover {
    border: 2px solid orange;
}
.content1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    text-align: center;
}
.content1 a {
    text-decoration: none;
    font-size: 18px;
    color: black;
    font-weight: 500;
    padding: 8px;
    transition: color 0.2s;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(90deg, blue, purple, red, orange);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}
.content1 li{
    list-style: none;
}
.content1 a:hover {
    color: orange;
}
.icon {
    height: 15px;
    width: 15px;
}
.space {
    line-height: 12px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content3 {
    position: fixed;
    top: 75px;  
    left: 0;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 69px;
    padding: 10px;
    background: #f3f3f3;
    height: 35px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    z-index: 999;
}
.content3 a {
    text-decoration: none;
    font-size: 17px;
    color: rgb(79, 10, 129);
    font-weight: 700;
    justify-content: space-evenly;
    display: flex;
    box-shadow: 0 2px 59px rgba(0,0,0,0.2);
    font-family: 'Times New Roman', Times, serif;
    align-items: center;
    padding-bottom: 4px;
}
.content3 a:hover {
    color: rgb(186, 91, 32);
}
/* hamburger */
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 50px;
    width: 200px;
    z-index: 99999;
    background-color: rgba(255,255,255,0.8);
    box-shadow: -10px 0 10px rgb(101, 97, 97);
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    backdrop-filter: blur(10px);
    display: none;  
}
.sidebar ul{
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    z-index: 299;
}
.sidebar li{
    height: 50px;
    list-style: none;
    background-color: white; 
    
}
.sidebar a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    color: blue;    
}
.sidebar a:hover{
    background-color: rgb(218, 175, 34);
}
.sidebar li:first-child{
    margin-right: auto;
}

.sidebar li{
    width: 100%;
}
.sidebar a{
    width: 100%;
}
.menu-btn{
    display: none;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); 
@media  (max-width: 640px) {
    .item{
        height: 80%;
        width: 100%;
    }
    .nav-bar{
        width: 100%;
        flex-wrap: wrap;
        margin: 0;
        box-sizing: border-box;
       
    }
    .logo img{
        height: 60px;
        width: 90px;
    }
    .hideOnMobile{
       display:none; 
    }
    .menu-btn{
        display: block;
    }
    .search-icon{
        display: none;
    }
    .search-input{
        width: 80px;
    }
    .search-select{
         width: 20px;
    }
    .nav-search{
        width: 100px;
        border: none;
    }
    .content3{
        display:none;
    }
    .list{
        width: 100%;
    }
    .list .item{
        width: 100%;
        height: 300px; 
    }
    header{
      width: 100%;
    }
    .nav-bar{
      width: 100%;
      overflow-x: hidden;
      margin-left: 0px;
      margin-right: 0px;
    }
    /* .search-container{
        margin-top: 40%;
    } */
}
@media (min-width: 768px) and (max-width: 1024px) {
    .search-select{
        display: none;
    }
    .hideOnMobile{
       display:none;
    }
    .menu-btn{
        display: block;
    }
}


.hero-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px 20px;
    margin-top: 7%;
    background-color: white;
}
.hero-section h2{
    font-size: 35px;
    margin-bottom: 20px;
    font-weight: 700;
    text-align: center;
}
.hero-section p{
    font-size: 18px;
     line-height:1.5;
    color:#666666;
    width: 60%;
    text-align: center;
}
@media (max-width:1023px) {
    .hero-section p{
        width: 90%;
    }
    .hero-section{
        padding: 30px 10px;
    }
    
}
.search-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 40px;
    padding:20px 40px;
    background-color: white;
    border-radius: 8px; ;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1); 
}
.search{
    display: flex;
    align-items: center;
    width: 70%;
     border: 1px solid #b3b3b3;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 16px;
    outline: none;
    
}
.search-input1{
    padding: 8px 15px;
   border: none;
    border-radius: 6px;
    width: 100%;
    font-size: 16px;
    outline: none;
}
.search img{
    height: 20px;
    width: 20px;
    margin-right: 10px;
}
.search:focus-within {
    border-color: #2563EB;
    box-shadow: 0 0 5px rgba(37, 99, 235, 0.5);
}
.level-container {
    padding: 5px 10px;
    border: 1px solid #b3b3b3;
    border-radius: 6px;
    font-size: 16px;
    margin-left: 10px;
    width: 30%;
    display: flex;
    align-items: center;
    gap: 10px;

}
.level-container img{
    height: 20px;
    width: 20px;
    margin-right: 10px;
}
#level{
    width: 100%;
    padding: 8px 15px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    outline: none;
}
.level-container:focus-within {
    border-color: #2563EB;
    box-shadow: 0 0 5px rgba(37, 99, 235, 0.5);
}
@media (max-width: 1020px) and (min-width: 601px) {
    .search-container{
        flex-direction: column;
        gap: 20px;
        margin: 20px;
        padding: 10px;
    }
    .search{
        width: 100%;
    }
    .level-container{
        width: 100%;
        margin-left: 0;
    }
}
@media (max-width: 600px) {
    .search-container{
        flex-direction: column;
        gap: 20px;
        margin: 10px;
        padding: 20px;
    }
    .search{
        width: 100%;
    }
    .level-container{
        width: 100%;
        margin-left: 0;
    }
 
}
.course-cards-container{
    display: flex;
    align-items: flex-start;
    justify-content: center;
     flex-wrap: wrap;
    gap: 30px;
    padding: 20px 40px;
    
}
.course-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 31%;
    box-shadow: 2px 2px 10px #666666;
    background-color: white;
    border-radius: 15px;
    padding-bottom:20px ;
}
@media (max-width:1023px) and (min-width:726px) {
    .course-card{
        width: 47%;
    }
    .course-cards-container{
        padding: 20px;
    }
    
}
@media (max-width:728px) {
    .course-card{
        width: 100%;
    }
    .course-cards-container{
        padding: 20px;
    }
    
}
.img-container{
    position: relative;
    top: 0px;
    right: 0px;
   width: 100%;
      border-radius: 15px 15px 0px 0px ;
      height: 200px;
     overflow: hidden;
     object-fit: contain;
     }
.img-container img{
    width: 100%;
    height:100%;
    border-radius: 15px 15px 0px 0px ; 

}
.img-container img:hover{
    transform: scale(1.2);
    filter: brightness(70%);
    transition: ease-in-out 0.5s;
}
.img-container span{
    position:absolute;
    left: 15px;
    top: 15px;
    font-size: 13px;
    color:  #12873d;
    padding: 5px 8px;
    border-radius: 8px;
    background-color:  #d2f9e0;
}
.course-info{
    display: flex;
   
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    padding: 20px 25px;
}
.course-info h2{
    font-size: 22px;
    margin-bottom: 10px;
    font-weight: 700;
}
.course-info p{
   color:#666666 ;
    line-height: 1.5;

}
.rating-con{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: start;
    gap: 15px;
    padding-top: 20px;

}

.rating{
    display: flex;
    align-items: center;
    gap: 3px;
}
.rating span{
    font-size: 13px;
    color: #7d7979;
}
.price-btn-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  gap: 20px;
  width: 100%;
}
.price{
    color: #2563EB;
    font-weight: 700;
    font-size: 20px;    
}
.btn-container{
    display: flex;
    gap: 15px;
}
.btn-container button{
    padding: 8px 13px;
    font-size: 16px;
    border-radius: 8px;
   cursor: pointer;
}
.btn-container a{
    text-decoration: none;
}
.demo-btn{
    background-color: white;
    border:1px solid #2563EB;
    color: #2563EB;
}
.demo-btn a{
    color: #2563EB;
}
.demo-btn:hover{
    background-color: #e8eefd;
    transition: all 0.5s;
}
.enroll-btn{
    background-color: #2563EB;
    color: white;
    border: none;
    
}
.enroll-btn a{
    color: white;
}
.enroll-btn:hover{
    transform: scale(1.07);
    transition: all 0.5s;
}

.demo-con{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
     display: none;
    background-color: rgba(0, 0, 0, 0.8);
   
}
.demo-vedio-container{
    position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
    width: 70%;
    height: 77%;
     border: 1px solid #666666;
     border-radius: 10px;
   display: flex;
   flex-direction: column;
   padding: 0;
}
.vedio-content{
    height: 100%;
   

}
.demo-heading{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: whitesmoke;
    border-radius: 10px 10px 0px 0px;
}
.demo-heading h2{
    font-size: 18px;
    font-weight: 550;
}
.cross-img{
    height: 15px;
    cursor: pointer;
}
.vedio-content iframe{
    width: 100%;
    height: 100%;
    border-radius: 0px 0px 10px 10px;
}
@media (max-width:601px) {
    
    .demo-vedio-container{
        height: 50%;
        width: 90%;
    }
}
.footer {
    height: 800px;
    width: 100%;
    border: none;
    margin-top: 40px;
    font-weight: bolder;
    font-size: 30px;
    background-color: #f3f3f3;
    list-style: none;
    border: 2px solid #f3f3f3;;
}

.footerPart1 {
    height: 300px;
    width: 100%;
    border: none;
    display: flex;
    flex-direction: row;
}

.list00 {
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    width: 350px;
    border: none;
    flex-wrap: wrap;
    list-style: none;
    flex: 1 1 200px;
}
.list00 li {
    list-style: none;
}
.list00 li a {
    position: relative;
    text-decoration: none;
    font-size: 19px;
    color: black;
    font-weight: bold;
    line-height: 40px;
}
.list00 li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0%;
    height: 2px;
    background: black;  
    transition: width 0.3s ease;
}
.list00 li a:hover::after {
    width: 100%;
}
.list00 .footerFont {
    color: black;
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
}

.font2 {
    font-size: 25px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(90deg, blue, purple, red, orange);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color:transparent;
    margin-top: 20px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
.footerPart2 {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    line-height: 30px;
    display: flex;
    
}
.list2 {
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    width: 450px;
    border: none;
    flex-wrap: wrap;
    list-style: none;
    flex: 1 1 250px;
    line-height: 50px;
}
.list2 li {
    list-style: none;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
}
.list2 li a {
    text-decoration: none;
    color: black;
    font-size: 15px;
}
.list2 .adjust {
    padding-left: 18%;
    font-size: 25px;
}
.list2 p {
    font-size: 15px;
}
.footerPart2 .row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.row img {
    margin-top: 20px;
}
.list2 .add {
    margin-left: 20%;
}
.footerPart2 .contact-info {
    font-size: 20px;
}
.footerPart2 .section1{
  display: flex;
  align-items: start;
  justify-content: start;
}

.footer hr {
    border: none;
    height: 3px;
    background-color: #a9a1a1;
    margin: 20px 0;
    width: 100%;
}

.footerPart3 {
    font-size: 20px;
    font-weight: bolder;
    margin-top: -5%;
    margin-left: 15%;
}
@media (min-width: 700px) and (max-width: 1024px) {
    footer{
      height: 1000px;
      width: 100%;
      border: none;
    }
    .footerPart1{
      height: 500px;
      width: 100%;
      border:none;
    }
      .footerPart2{
      height: 500px;
      width: 100%;
      border: none;
      background-color: #f3f3f3;
      margin-top: -10%;
    }
    hr{
      display: none;
    }
    .list2 .size1{
        border:none;
    }
}
.Copyright{
  color: rgb(3, 20, 77);
  font-weight: 200;
  font-size:25px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2%;
  padding-bottom: none;

}
.list2 .size{
    font-size: 20px;
    line-height: 30px;
}
@media  (max-width: 640px) {
    .footerPart1{
      display: none;
    }
     .footerPart1{
      display: none;
    }
    .add{
      display: none;
    }
    /* .Copyright{
      display: none;
    } */
    .size{
      padding-left: 20px;
      padding-right: 20px;
    }
}
.row li a img {
  transition: transform 0.3s ease; 
}

.row li a img:hover {
  transform: scale(1.2);
}
