*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: "Poppins", sans-serif;

}
body{
    box-sizing: border-box;
}
.hero-section{
   
    height: fit-content;
    background:url("../images/scholarship-page-imgs/background-img.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 40px 0px;
    display: block;
    margin: 0px;
    box-sizing: border-box;
}
.heading-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.scholarship-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 50%;
    background-color:#d8e0f6;
}
.scholarship-img-container img{
    height: 55px;
}
.text-container {
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;

}
.text-container h1 {
    font-size: 40px;
font-weight: bold;


}
.text-container span {
    color:#2563EB;
}
.text-container p {
    font-size: 21px;
   color: #333;
    max-width: 80%;
    padding:0px 10px;
}
@media (max-width: 600px) {
   
    .text-container p {
      padding: 0px;
        max-width: 100%;
    }
    .hero-section {
    padding: 40px 0px;
    width: 100%;
    }
    .text-container h1 {
       font-size: 36px;
       line-height: 1.2;
    }
    .text-container p {
       font-size: 18px;
       line-height: 1.3;
        
    }
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    gap: 20px;
} 
.card{
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 25%;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
   gap: 10px;
 
}

.card1{
 background-color: #eff6ff;
}
.card span{
    font-size: 23px;
    font-weight: 700;
}
.card1 span{
    color: #1E40AF;
}
.text{
    font-size: 15px;
    font-weight: bold;
}
.card1 .text{
    color: #1E40AF;
}
.card2 .text{
    color: #047857;
}
.card2{
    background-color: #ecfdf5;
}
.card3{
    background-color:#faf5ff;
}
.card3 .text{
    color: #6B21A8;
}
.card4 .text{
    color: #B45309;
}
.card4{
    background-color: #fff7ed;
}
@media (max-width: 1023px) and (min-width: 601px) {
    .container{
        flex-wrap: wrap;
        padding: 10px;
    }
    .card{
        width: 45%;
    }
    
}
@media screen and (max-width: 600px) {
    .container{
         flex-wrap: wrap;
        padding: 10px;
    }
    .card{
        font-size: 15px;
        width: 45%;
    }
    .text-container h1 {
        font-size: 36px;
        line-height: 1.2;
    }
    .text-container p {
        font-size: 18px;
        line-height: 1.3;

    }
}

.search-container2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 40px;
    padding:20px 40px;
    background-color: white;
    border-radius: 8px; ;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1); 
}
.search9{
    display: flex;
    align-items: center;
    width: 70%;
    border: 2px solid #ccc;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 16px;
    outline: none;
    
}
.search-input2{
    padding: 10px 15px;
   border: none;
    border-radius: 6px;
    width: 100%;
    font-size: 16px;
    outline: none;
}
.search img{
    height: 20px;
    width: 20px;
    margin-right: 10px;
}
.search:focus-within {
    border-color: #2563EB;
    box-shadow: 0 0 5px rgba(37, 99, 235, 0.5);
}
.categories-container {
    padding: 5px 10px;
    border: 2px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    margin-left: 10px;
    width: 30%;
    display: flex;
    align-items: center;
    gap: 10px;

}
.categories-container img{
    height: 20px;
    width: 20px;
    margin-right: 10px;
}
#categories{
    width: 100%;
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    outline: none;
}
.categories-container:focus-within {
    border-color: #2563EB;
    box-shadow: 0 0 5px rgba(37, 99, 235, 0.5);
}
@media (max-width: 1020px) and (min-width: 601px) {
    .search-container{
        flex-direction: column;
        gap: 20px;
        margin: 40px;
        padding: 20px;
    }
    .search{
        width: 100%;
    }
    .categories-container{
        width: 100%;
        margin-left: 0;
    }
}
@media (max-width: 600px) {
    .search-container{
        flex-direction: column;
        gap: 20px;
        margin: 10px;
        padding: 20px;
    }
    .search{
        width: 100%;
    }
    .categories-container{
        width: 100%;
        margin-left: 0;
    }
 
}
.scho-cards-container{
    display: flex;
    align-items:flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px 40px;
    width: 100%;
}
.scho-card{
    border-radius: 8px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
    border:1px solid #e0e0e0;
    padding: 20px 25px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
     gap: 15px;
    width: 350px;;
    min-width: 280px;
    background-color: white;
    margin: 10px;
}
.scho-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}
.scho-img{
    border-radius:5px ;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e8eefd;
}
.scho-img img{
    height: 30px;
}
.scho-text{
    font-size: 19px;
    font-weight: 600;
    padding-left: 10px;
    line-height: 1.3;
    margin-bottom: 5px;

}
.scho-text span{
    color: gray;
    font-size: 10px;
  
}
.scho-text:hover{
    color: #2563EB;
}
.scho-card:hover {
    transform: translateY(-5px) scale(1.01);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
.scho-text span{
    color: gray;
    font-size: 15px;
    font-weight: 400;
}
.categorie-need{
    color: #047857;
    background-color: #e6fef7;
}
.categorie-need:hover{
    background-color:#b5fde8;
}
.categorie-merit{
    color: #2563EB;
    background-color: #e8eefd;
}
.categorie-merit:hover{
    background-color:#b5d9fc;
}
.categorie-women{
    color: #DB2777;
    background-color:#ffe6ea;
}
.categorie-women:hover{
    background-color:#ffb3c1;
}
.categorie-research{
    color: #cc6600;
    background-color: #fff4e5;
}
.categorie-research:hover{
    background-color:#ffcc99;
}
.scho-categorie{
    padding: 5px 10px;
    border-radius: 6px;
    font-weight: 600;
    font-size: 14px;
}

.scho-info{ 
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-direction: column;
    font-size: 16px;
    color: #333;
    line-height: 1.2;
}
.scho-info p{
    color: #666666;
          font-size: 16px;
}
.scho-info img{
    height: 16px ;
    margin-right: 10px;
}
.scho-info ul{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    list-style: none;
    font-size: 16px;
    color: #666666;
}
.scho-info span{
    color: red;
}
.benifits{
    margin-top: 10px;
   padding: 10px 20px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   border-radius: 6px;
   background-color: #f9f9f9;
}
.benifits p{
    color: #666666;
    font-size: 16px;
    line-height: 1.2;
}
.eligibility-con{
    margin-top: 10px;
}
.eligibility{
    margin-top: 5px;
     padding: 10px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   border-radius: 6px;
   background-color: #f9f9f9;
}
.eligibility ul{
   color: #666666;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0px;
 padding: 10px 20px;
 font-size: 14px;
}
.scho-card h3{
    font-size: 17px;
    font-weight: 700;
  
}
.apply-btn-con{
      display: flex;
    justify-content: center;
    align-items: center;
}
.apply-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    background-color: #2563EB;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
      color: white;
    text-decoration: none;
}
.apply-btn img{
    height: 16px;
    width: 20px;
    margin-right: 10px;
}
.apply-btn:hover{
    background-color: #1E40AF;
}
@media (max-width: 1023px) and (min-width: 796px) {
    .scho-cards-container{
        justify-content: center;
        padding: 20px 10px;
    }
    .scho-card{
        margin: 0px 30px;
        width: 40%;
    }
}
@media (max-width: 796px) {
    .scho-cards-container{
        justify-content: center;
        padding: 20px 10px;
         
    }
    .scho-card{
        width: 100%;
        
    }
}

.help-section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    margin: 20px 40px;
     background: linear-gradient(to right, #2563eb, #9333ea);
     padding: 40px;
     border-radius: 10px;
}
.help-section h2{
    color: white;
    text-align: center;
    font-size:26px ;
}
.help-section p{
    width: 70%;
    text-align: center;
    line-height: 1.5;
    font-weight: 100;
    color: whitesmoke;
    font-size: 16px;
}
.help-section button{
    background-color: whitesmoke;
    color: #333;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
}
.help-section a{
    color: #2563EB;
    text-decoration: none;
    font-size: 16px;
    font-weight: 550;
}
@media (max-width:1023px) and (min-width:600px) {
    .help-section p{
       width: 80%;
    }
}
@media (max-width:601px) {
    .help-section{
        padding: 40px 20px;
        margin: 20px;
        font-size:20px ;
    }
    .help-section p{
       width: 90%;
    }
}
/* header and footer */
.nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;             
    justify-content: space-between;   
    width: 100%;
    height: 75px;
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(30px);
    z-index: 1000;
    padding: 0 20px;
    background-color: #f3f3f3;
}
.logo img {
    height: 100px;
    width: 200px;
    object-fit: contain;
    margin-left: 0px;
}
.nav-search {
    display: flex;
    align-items: center;
    background-color: pink;
    height: 36px;
    border-radius: 4px;
    border: none;
    width: 30%; 
    overflow: hidden;
}
.search-select {
    background-color: rgb(194, 188, 188);
    width: 60px;
    height: 100%;
    text-align: center;
    border: none;
    outline: none;
    font-size: 0.9rem;
}
.search-input {
    width: 100%;
    font-size: 1rem;
    border: none;
    outline: none;
    padding: 0 8px;
    background-color: pink;
}
.search-icon {
    width: 45px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    cursor: pointer;
}
.nav-search:hover {
    border: 2px solid orange;
}
.content1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    text-align: center;
}
.content1 a {
    text-decoration: none;
    font-size: 18px;
    color: black;
    font-weight: 500;
    padding: 8px;
    transition: color 0.2s;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(90deg, blue, purple, red, orange);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}
.content1 li{
    list-style: none;
}
.content1 a:hover {
    color: orange;
}
.icon {
    height: 15px;
    width: 15px;
}
.space {
    line-height: 12px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content3 {
    position: fixed;
    top: 75px;  
    left: 0;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 69px;
    padding: 10px;
    background: #f3f3f3;
    height: 35px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    z-index: 999;
}
.content3 a {
    text-decoration: none;
    font-size: 17px;
    color: rgb(79, 10, 129);
    font-weight: 700;
    justify-content: space-evenly;
    display: flex;
    box-shadow: 0 2px 59px rgba(0,0,0,0.2);
    font-family: 'Times New Roman', Times, serif;
    align-items: center;
    padding-bottom: 4px;
}
.content3 a:hover {
    color: rgb(186, 91, 32);
}
/* hamburger */
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 50px;
    width: 200px;
    z-index: 99999;
    background-color: rgba(255,255,255,0.8);
    box-shadow: -10px 0 10px rgb(101, 97, 97);
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    backdrop-filter: blur(10px);
    display: none;  
}
.sidebar ul{
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    z-index: 299;
}
.sidebar li{
    height: 50px;
    list-style: none;
    background-color: white; 
    
}
.sidebar a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    color: blue;    
}
.sidebar a:hover{
    background-color: rgb(218, 175, 34);
}
.sidebar li:first-child{
    margin-right: auto;
}

.sidebar li{
    width: 100%;
}
.sidebar a{
    width: 100%;
}
.menu-btn{
    display: none;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); 
@media  (max-width: 640px) {
    .item{
        height: 80%;
        width: 100%;
    }
    .nav-bar{
        width: 100%;
        flex-wrap: wrap;
        margin: 0;
        box-sizing: border-box;
    }
    .logo img{
        height: 60px;
        width: 90px;
    }
    .hideOnMobile{
       display:none; 
    }
    .menu-btn{
        display: block;
    }
    .search-icon{
        display: none;
    }
    .search-input{
        width: 80px;
    }
    .search-select{
         width: 20px;
    }
    .nav-search{
        width: 100px;
        border: none;
    }
    .content3{
        display:none;
    }
    .list{
        width: 100%;
    }
    .list .item{
        width: 100%;
        height: 300px; 
    }
    header{
      width: 100%;
    }
    .nav-bar{
      width: 100%;
      overflow-x: hidden;
      margin-left: 0px;
      margin-right: 0px;
    }
    .search-container2{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .search9{
        width: 130%;
        padding: 0;
        margin: 0;
    }
    .search-container{
        width: 100%;
        height: 60px;
    }
    .categories-container{
        width: 130%;
        height: 45px;
    }
    .search9 img{
        height: 20px;
        width: 20px;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    .search-select{
        display: none;
    }
    .hideOnMobile{
       display:none;
    }
    .menu-btn{
        display: block;
    }
}

.footer {
    height: auto;
    width: 100%;
    border: none;
    margin-top: 40px;
    font-weight: bolder;
    font-size: 30px;
    background-color: #f3f3f3;
    list-style: none;
    border: 2px solid #f3f3f3;
    margin: auto;
}

.footerPart1 {
    height:auto;
    width: 100%;
    border: none;
    display: flex;
    flex-direction: row;
}

.list00 {
    height:auto;
    display: flex;
    justify-content: space-evenly;
    width: 350px;
    border: none;
    flex-wrap: wrap;
    list-style: none;
    flex: 1 1 200px;
}
.list00 li {
    list-style: none;
}
.list00 li a {
    position: relative;
    text-decoration: none;
    font-size: 19px;
    color: black;
    font-weight: bold;
    line-height: 40px;
}
.list00 li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0%;
    height: 2px;
    background: black;  
    transition: width 0.3s ease;
}
.list00 li a:hover::after {
    width: 100%;
}
.list00 .footerFont {
    color: black;
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
}

.font2 {
    font-size: 25px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(90deg, blue, purple, red, orange);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color:transparent;
    margin-top: 20px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
.footerPart2 {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    line-height: 30px;
    display: flex;
    
}
.footerPart2 .section2{
    padding-left: 20px;
     padding-right: 20px;
     height: auto;

}
.list2 {
    height:auto;
    display: flex;
    justify-content: space-evenly;
    width: 450px;
    border: none;
    flex-wrap: wrap;
    list-style: none;
    flex: 1 1 250px;
    line-height: 45px;
}
.list2 li {
    list-style: none;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
}
.list2 li a {
    text-decoration: none;
    color: black;
    font-size: 15px;
}
.list2 .adjust {
    padding-left: 18%;
    font-size: 25px;
}
.list2 p {
    font-size: 15px;
}
.footerPart2 .row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.row img {
    margin-top: 20px;
}
.list2 .add {
    margin-left: 20%;
}
.footerPart2 .contact-info {
    font-size: 20px;
}
.footerPart2 .section1{
  display: flex;
  align-items: start;
  justify-content: start;
}

.footer hr {
    border: none;
    height: 3px;
    background-color: #a9a1a1;
    margin: 20px 0;
    width: 100%;
}

.footerPart3 {
    font-size: 20px;
    font-weight: bolder;
    margin-top: -5%;
    margin-left: 15%;
}
@media (min-width: 700px) and (max-width: 1024px) {
    footer{
      height:auto;
      width: 100%;
      border: none;
    }
    .footerPart1{
      height: auto;
      width: 100%;
      border:none;
    }
      .footerPart2{
      height:auto;
      width: 100%;
      border: none;
      background-color: #f3f3f3;
      margin-top: -10%;
    }
    hr{
      display: none;
    }
    .list2 .size1{
        border:none;
    }
}
.Copyright{
  color: rgb(3, 20, 77);
  font-weight: 200;
  font-size:25px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2%;
  padding-bottom: none;

}
.list2 .size{
    font-size: 20px;
    line-height: 30px;
}
@media  (max-width: 640px) {
    .footerPart1{
      display: none;
    }
     .footerPart1{
      display: none;
    }
    .add{
      display: none;
    }
    .Copyright{
      font-size: 20px;
      padding-top: 30px;
      padding-bottom: 20px;
    }
    .size{
      padding-left: 20px;
      padding-right: 20px;
    }
    .footerPart2 .font2{
        font-size: 30px;
    }
    .invisible{
        display: none;
    }
    .list2 {
        line-height:40px;
    }
    .section1{
        line-height: 50px;
        font-size: 20px;
    }
}
.row li a img {
  transition: transform 0.3s ease; 
}

.row li a img:hover {
  transform: scale(1.2);
}
a {
  display: flex;
  align-items: center; 
  text-decoration: none;
  color: inherit;
}

a img {
  margin-right:8px;
}