*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;             
    justify-content: space-between;   
    width: 100%;
    height: 75px;
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(30px);
    z-index: 1000;
    padding: 0 20px;
    background-color: #f3f3f3;
}
.logo img {
    height: 100px;
    width: 200px;
    object-fit: contain;
    margin-left: 0px;
}
.location {
    display: flex;
    align-items: center;
    gap: 5px;
    border: 2px solid black;
    padding: 2px 6px;
    border-radius: 4px;
    font-size: 10px;
}
.location-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}
.location-info {
    display: flex;
    flex-direction: column;
    line-height: 1.1;
}
.location-info h1 {
    font-size: 10px;
    margin: 0;
}
.down-arrow {
    height: 10px;
    width: 10px;
}
.nav-search {
    display: flex;
    align-items: center;
    background-color: pink;
    height: 36px;
    border-radius: 4px;
    border: none;
    width: 30%; 
    overflow: hidden;
}
.search-select {
    background-color: rgb(194, 188, 188);
    width: 60px;
    height: 100%;
    text-align: center;
    border: none;
    outline: none;
    font-size: 0.9rem;
}
.search-input {
    width: 100%;
    font-size: 1rem;
    border: none;
    outline: none;
    padding: 0 8px;
    background-color: pink;
}
.search-icon {
    width: 45px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    cursor: pointer;
}
.nav-search:hover {
    border: 2px solid orange;
}
.content1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    text-align: center;
}
.content1 a {
    text-decoration: none;
    font-size: 18px;
    color: black;
    font-weight: 500;
    padding: 8px;
    transition: color 0.2s;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(90deg, blue, purple, red, orange);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}
.content1 li{
    list-style: none;
}
.content1 a:hover {
    color: orange;
}
.icon {
    height: 15px;
    width: 15px;
}
.space {
    line-height: 12px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content3 {
    position: fixed;
    top: 75px;  
    left: 0;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 69px;
    padding: 10px;
    background: #f3f3f3;
    height: 35px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    z-index: 999;
}
.content3 a {
    text-decoration: none;
    font-size: 17px;
    color: rgb(79, 10, 129);
    font-weight: 700;
    justify-content: space-evenly;
    display: flex;
    box-shadow: 0 2px 59px rgba(0,0,0,0.2);
    font-family: 'Times New Roman', Times, serif;
    align-items: center;
    padding-bottom: 4px;
}
.content3 a:hover {
    color: rgb(186, 91, 32);
}
/* hamburger */
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 200px;
    z-index: 99999;
    background-color: rgba(255,255,255,0.8);
    box-shadow: -10px 0 10px rgb(101, 97, 97);
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    backdrop-filter: blur(10px);
    display: none;
}
.sidebar ul{
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    z-index: 299;
}
.sidebar li{
    height: 50px;
    list-style: none;
    
}
.sidebar a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    color: blue;    
}
.sidebar a:hover{
    background-color: rgb(218, 175, 34);
}
.sidebar li:first-child{
    margin-right: auto;
}

.sidebar li{
    width: 100%;
}
.sidebar a{
    width: 100%;
}

.menu-btn{
    display: none;
}
/* image slider */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); 
.img-slider{
    display: inline;
 }
.img-slider .list .item{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.thumbnail{
    position: absolute;
    bottom: 50px;
    left: 50%;
    width: max-content;
    z-index: 100;
    display: flex;
    gap: 20px;
}
.thumbnail .item{
    width: 150px;
    height: 220px;
    flex-shrink: 0;
    position: relative;
}
.thumbnail .item img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 8px;
}
.arrows{
    position: absolute;
    top: 85%;
    left: 25%;
    color: white;
    width: 300px;
    max-width: 30%;
    gap: 10px;
    align-items: center;
    z-index: 200;
}
.arrows button{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background-color: #eee4;
    border: none;
    color: white;
    font-weight: bold;
    font-size: large;
    transition: .5s;
      cursor: pointer; 
}
.arrows button:hover{
    background-color: white;
    color: black;
}
.img-slider .list .item:nth-child(1){
    z-index: 1;
}
@keyframes showContent {
    to{
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
    }
}
.img-slider .list .item:nth-child(1) img{
    width: 150px;
    height: 220px;
    position: absolute;
    left: 50%;
    border: 50px;
    border-radius: 20px;
    animation: showImage 0.5s  linear 1 forwards;
}
@keyframes showImage{
 from {
        width: 150px;
        height: 220px;
        left: 50%;
        border-radius: 20px;
    }
    to {
        width: 100%;
        height: 100%;
        left: 0;
        bottom: 0;
        border-radius: 0;
    }
}
.img-slider .list .thumbnail .item:nth-child(1){
    overflow: hidden;
    width: 0;
    animation: showThumbnail 0.5s linear 1 forwards;
}
@keyframes showThumbnail{
    to{
        width: 150px;
    }
}
.img-slider.next .thumbnail{
    transform: translateX(150px);
    animation: transformThumbnail 0.5s linear 1 forwards;
}
@keyframes transformThumbnail{
    to{
        transform: translateX(0);
    }
}
.img-slider.pre .list .thumbnail .item:nth-child(2){
    z-index: 2;
}
.img-slider .list .thumbnail .item:nth-child(1) img{
    position: absolute;
    bottom: 0;
    left: 0;
    animation: outImage 0.5s linear 1 forwards;
}
@keyframes outImage{
    to{
        width: 150px;
        height: 220px;
        border-radius: 20px;
        left: 50px;
    }
}
.img-slider.pre .thumbnail .item:nth-child(1){
    width: 0;
    overflow: hidden;
     animation: showThumbnail 0.5s linear 1 forwards;
}
@keyframes contentOut{
    to{
        transform: translateY(-150px);
        filter: blur(20px);
    }
}
.img-slider.next .arrows button,
.img-slider.next .arrows button{
    pointer-events: none;
}
.time{
    width: 100%;
    height: 3px;
    background-color: #f1683a;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
}
.img-slider .next .time,
.img-slider .pre .time{
    width: 100%;
    animation:timeRunning 2s linear 1 forwards; 
}
@keyframes timeRunning {
    to{
        width: 0;
    }
}
@media (max-width: 600px) {
    .thumbnail {
        bottom: 10px;
        gap: 10px;
        left: 50%; 
    }
    .thumbnail .item {
        width: 80px;
        height: 120px;
    }
    .arrows {
        top: 80%;
        left: 10%;
        width: 80%;
        gap: 5px;
    }
    .arrows button {
        height: 50px;
        width: 50px;
        font-size: medium;
    }
    .img-slider .list .item img {
    width: 100%;
    height: auto;
    /* object-fit: contain;    */
    border-radius: 0;
    display: block;
    height: 70vh;
    }
    .img-slider .list .item {
      display: flex;
      align-items: center;
      justify-content: center;
      background: #858383; 
    }

}
.parag{
    height: 1000px;
    width: 100%;
    border: 2px solid black;
    margin-top: 49%;
    font-family: 'Times New Roman', Times, serif;
}
/* // scholership Numbers */
.numbers{
    height: 100px;
    width: 100%;
    border: 2px solid #a29c9c;
    border-radius: 15px;
    display: flex;
    justify-content: space-evenly;
    background-color: #f3f3f3;
}
.num1{
    line-height: 40px;
    font-size: 20px;
}
.num1 p{
    font-size: 30px;
    color:#3189FC;
    font-weight: bolder;
}

@media  (max-width: 1324px) {
    .parag{
        margin-top: 60%;
    }
}
@media  (max-width: 640px) {
    .parag{
        margin-top: 150%;
        width: 100%;
        max-width: 100%;  
    }
    .item{
        height: 80%;
        width: 100%;
    }
    .thumbnail{
        margin-bottom: 40%;
    }
    .arrows{
      position: absolute;
      top: 410px;
    }
    .arrows button{
      background-color: rgb(95, 89, 89);
    }
    .SC1{
        display:none;
    }
    .SC4{
        display:none;
    }
    .numbers{
        width: 100%;
        height: 100px;
    }
    .num1 p{
        font-size: 24px;
        color:#3189FC;
        font-weight: bolder;
    }
    .nav-bar{
        width: 100%;
        flex-wrap: wrap;
        margin: 0;
        box-sizing: border-box;
    }
    .logo img{
        height: 60px;
        width: 90px;
    }
    .location{
        display:none;
    }
    .hideOnMobile{
       display:none;
      
    }
    .menu-btn{
        display: block;
    }
    .search-icon{
        display: none;
    }
    .search-input{
        width: 80px;
    }
    .search-select{
         width: 20px;
    }
    .nav-search{
        width: 100px;
        border: none;
    }
    .content3{
        display:none;
    }
    .list{
        width: 100%;
    }
    .list .item{
        width: 100%;
        
    }
    header{
      width: 100%;
    }
    .thumbnail{
       display:none;
    }
    .nav-bar{
      width: 100%;
      overflow-x: hidden;
      margin-left: 0px;
      margin-right: 0px;
    }
    .img-slider .item img{
      object-fit: contain;
    }
    
}